.student-details {
  text-align: center;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.back-btn {
  background-color: #1e1e2f;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.back-btn:hover {
  background-color: #00bcd4;
}
